#ifndef SECRETS_H
#define SECRETS_H

// TEMPLATE — copia questo file in "secrets.h" e inserisci i valori reali.
// cp secrets.h.example secrets.h

#define WIFI_SSID     "NOME_RETE"
#define WIFI_PASSWORD "PASSWORD_RETE"
#define MQTT_BROKER   "192.168.1.X"
#define MQTT_USER     "UTENTE_MQTT"
#define MQTT_PASS     "PASSWORD_MQTT"

#endif
