############
### TAPO ###
############

TAPO_USERNAME=
TAPO_PASSWORD=


############
### MQTT ###
############

MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=


#################
### INTERVALS ###
#################

POLLING_INTERVAL=10
CHECK_INTERVAL=30
WARNING_INTERVAL=5

BACKOFF_TIME=60


############
### LOG ###
############

LOG_MAX_BYTES=1000000
LOG_BACKUP_COUNT=3